<form [formGroup]="formPopup" (ngSubmit)="submit()">
  <h4>Custom time</h4>
  <mat-form-field appearance="outline" class="mr-2">
    <input matInput placeholder="From Date" [matDatepicker]="picker" (dateChange)="handleChangeFromDate()"
      formControlName="fromDateCustomTime">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput [matDatepicker]="picker1" placeholder="To Date" formControlName="toDateCustomTime">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>
  <div mat-dialog-actions align="end">
    <button type="button" class="btn btn-default mr-2" (click)="close(false)">Cancel</button>
    <button mat-flat-button type="submit" flex="15" color="primary">Save</button>
  </div>
</form>