<form autocomplete="off" #createEditCurrencyConvertForm="ngForm">
    <abp-modal-header title=" {{ title }}" (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <ng-container *ngIf="isEditing; else create">
        <div class="modal-body mt-2">
            <div class="form-group row required">
                <label class="col-md-3 col-form-label"s>
                    Tỉ giá sang {{defaultCurrencyCode}}:
                </label>
                <div class="col-md-9">
                    <input type="text" name="value" [(ngModel)]="currencyConvert.value" class="form-control" required placeholder="Nhập tỉ giá"
                        #value="ngModel" [allowNegativeNumbers]="false" mask="separator" thousandSeparator="," min=0 value=0 #valueEl>
                    <abp-validation-summary [control]="value" [controlEl]="valueEl">
                    </abp-validation-summary>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #create>
        <div class="modal-body">
            <div class="form-group row required">
                <label class="col-md-3 col-form-label" for="">
                    Tiền tệ:
                </label>
                <div class="col-md-9">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-select [(ngModel)]="currencyConvert.currencyId" #branchSelect="ngModel"  name="currency" placeholder="Tiền tệ" required>
                            <mat-option *ngFor="let c of listCurrencies" [value]="c.id">{{c.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="form-group row required">
                <label class="col-md-3 col-form-label">
                    Tỉ giá sang {{defaultCurrencyCode}}:
                </label>
                <div class="col-md-9">
                    <input type="text" name="value" [(ngModel)]="currencyConvert.value" class="form-control" required placeholder="Nhập tỉ giá"
                        #value="ngModel" [allowNegativeNumbers]="false" mask="separator" thousandSeparator="," min=0 value=0 #valueEl>
                    <abp-validation-summary [control]="value" [controlEl]="valueEl">
                    </abp-validation-summary>
                </div>
            </div>

            <div class="form-group row required">
                <label class="col-md-3 col-form-label">
                    Năm:
                </label>
                <div class="col-md-9">
                    <mat-form-field appearance="outline" class="w-100">
                        <input matInput placeholder="Chọn ngày" [matDatepicker]="dp" name="startDate"
                        #startDate="ngModel" [(ngModel)]="date" required>
                        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                        <mat-datepicker #dp
                                        startView="multi-year"
                                        (yearSelected)="chosenYearHandler($event, dp)"
                                        panelClass="example-month-picker">
                        </mat-datepicker>
                      </mat-form-field>
                    <mat-error class="mt-1" *ngIf="startDate.hasError('required') && startDate.touched"
                        style="font-size: 13px;">
                        This field is required
                    </mat-error>
                </div>
            </div>         
        </div>
    </ng-template>
    <div class="row d-flex justify-content-between mt-4 px-1">
        <button class="btn btn-default mx-2" mat-dialog-close>
            Cancel
        </button>
        <button class="btn btn-primary" [disabled]="!createEditCurrencyConvertForm.valid || isLoading" (click)="saveAndClose()">
            Save
        </button>
    </div>
</form>
