<div id="supplier-list">
    <section class="content-header">
        <div class="container-fluid">
            <div class="header d-flex justify-content-between align-items-center">
                <div class="breadcrumb">
                    <app-bread-crumb [listBreadCrumb]="listBreadCrumb" (refreshCurrentPage)="onRefreshCurrentPage()"></app-bread-crumb>
                </div>
                <div class="col-6 text-right">
                    <a  *ngIf="permission.isGranted(Directory_Supplier_Create)"
                     href="javascript:;" class="btn bg-blue" (click)="createSupplier()">
                        <i class="fa fa-plus-square"></i>
                        {{ 'action.create' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="keyword" placeholder="Tìm kiếm theo nội dung..." [(ngModel)]="searchText"
                            (keyup.enter)="getDataPage(1)" />
                    </div>
                </div>
                <div class="card-body table-responsive p-4">
                    <table style="border-collapse: collapse;" class="table table-hover text-nowrap"
                        [busy]="isTableLoading">
                        <thead class="bg-light">
                            <tr>
                                <th style="text-align: center; width: 80px !important;padding: 12px;">{{ 'm3_child2.no'
                                    | translate }}</th>
                                <th style="text-align: center;">{{ 'm3_child7.name' | translate }}</th>
                                <th style="text-align: center;">{{ 'm3_child7.phoneNumber' | translate }}</th>
                                <th style="text-align: center;">{{ 'm3_child7.address' | translate }}</th>
                                <th style="text-align: center;">{{ 'm3_child7.contactPersonName' | translate }}</th>
                                <th style="text-align: center;">{{ 'm3_child7.contactPersonPhone' | translate }}</th>
                                <th style="text-align: center;">{{ 'm3_child7.taxNumber' | translate }}</th>
                                <th
                                 style="width: 200px;text-align: center;">{{ 'action.actions' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of supplierList  |paginate
                            : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                              };let i=index">
                                <td class="text-center" style="padding: 12px;">{{i+1}}</td>
                                <td>{{data.name}}</td>
                                <td>{{data.phoneNumber}}</td>
                                <td>{{data.address}}</td>
                                <td>{{data.contactPersonName}}</td>
                                <td>{{data.contactPersonPhone}}</td>
                                <td>{{data.taxNumber}}</td>
                                <td style="padding: 12px; margin-bottom: 0;">
                                    <div style="display: flex; justify-content: center">
                                        <button *ngIf="permission.isGranted(Directory_Supplier_Update)"
                                     type="button" class="btn btn-sm bg-secondary mr-1"
                                        (click)="editSupplier(data)">
                                        <i class="fas fa-pencil-alt"></i>
                                        {{ 'action.edit' | translate }}
                                    </button>
                                    <button *ngIf="permission.isGranted(Directory_Supplier_Delete)"
                                     type="button" class="btn btn-sm bg-danger ml-1" (click)="deleteSupplier(data)">
                                        <i class="fas fa-trash"></i>
                                        {{ 'action.delete' | translate }}
                                    </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-light border-top">
                    <div class="row">
                      <div class="col-sm-4 col-12 text-sm-left text-center d-flex align-items-center just">
                        <button class="btn btn-secondary" (click)="refresh()">
                          <i class="fas fa-redo-alt"></i>
                        </button>
                        <mat-form-field style=" width: 20%; margin-left: 30px">
                          <mat-label>Number items</mat-label>
                          <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                            <mat-option [value]="5"> 5 </mat-option>
                            <mat-option [value]="10"> 10 </mat-option>
                            <mat-option [value]="20"> 20 </mat-option>
                            <mat-option [value]="50"> 50 </mat-option>
                            <mat-option [value]="100"> 100 </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4 col-12 justify-content-center d-flex align-items-center">
                        <p class="mb-0 ">Total: {{ totalItems }}</p>
                      </div>
                      <div class="col-sm-4 col-12 d-flex align-items-center justify-content-end">
                        <div class="float-sm-right">
                          <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                          </abp-pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</div>


