<nav style="position: sticky;top: 0;z-index: 99;" class="main-header navbar navbar-expand navbar-white navbar-light">
  <header-left-navbar></header-left-navbar>
  <ul class="navbar-nav ml-auto">
    <header-period></header-period>
    <div class="d-inline mr-2">
      <a class="text-dark mx-3"
      target="_blank"
        href="https://docs.google.com/document/d/1T5kxiX9cwPe6q9ECkEzdO8Sb6I2WBxgf-bmYttjfP4w/edit#">
        <i matTooltip="Hướng dẫn sử dụng" class="fas fa-file-alt fa-2x text-secondary pt-1"></i>
      </a>
      <header-language-menu></header-language-menu>
    </div>
    <header-user-menu></header-user-menu>
  </ul>
</nav>
