<form
  class="form-horizontal"
  autocomplete="off"
  #createBankAccountForm="ngForm"
  id="create-edit-bank-account"
>
  <div class="card-header" cdkDrag cdkDragRootElement=".modal-content, .cdk-overlay-pane" cdkDragHandle>
    <h3 *ngIf="!isEdit">{{ "m4_child1.createTitle" | translate }}</h3>
    <h3 *ngIf="isEdit">{{ "m4_child1.editTitle" | translate }}</h3>
  </div>
  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="holdername ">
        {{ "m4_child1.hoder name" | translate }}
      </label>
      <div class="col-md-9">
        <input
          type="text "
          class="form-control"
          #holder="ngModel"
          [(ngModel)]="data.holderName"
          name=" holdername "
          id="holdername "
          required
          #requestName="ngModel"
          #requestNameEl
        />
        <abp-validation-summary
          [control]="requestName"
          [controlEl]="requestNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="bank ">
        {{ "m4_child1.bank number" | translate }}
      </label>
      <div class="col-md-9">
        <input
          type="text "
          class="form-control"
          #holder="ngModel"
          [(ngModel)]="data.bankNumber"
          name="banknumber "
          id="banknumber "
          maxlength="128 "
          required
          #requestBankNumber="ngModel"
          #requestBankNumberEl
        />
        <abp-validation-summary
          [control]="requestBankNumber"
          [controlEl]="requestBankNumberEl"
        >
        </abp-validation-summary>
      </div>
    </div>

    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="bank ">
        {{ "m4_child1.bank" | translate }}
      </label>
      <div class="col-md-9">
        <mat-form-field
          class="form-field"
          style="width: 100%; height: 38px"
          appearance="outline"
        >
          <mat-select
            placeholder="{{ 'm4_child1.choose a bank name' | translate }}"
            [(ngModel)]="data.bankId"
            #bankName="ngModel"
            name="bankName"
            required
          >
            <mat-form-field class="w-100 px-3"
            style="
              position: sticky;
              top: 0;
              z-index: 2;
              background-color: white;
            ">
              <input
                placeholder="{{ 'm4_child1.choose a bank name' | translate }}"
                matInput
                type="text"
                (keydown)="$event.stopPropagation()"
                [(ngModel)]="searchValue"
                name="search"
              />
            </mat-form-field>
            <mat-option hidden="true" [value]="null">none</mat-option>

            <mat-option
              *ngFor="let data of banks | filter : searchValue"
              [value]="data.id"
            >
              {{ data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error
          class="mt-1"
          *ngIf="bankName.hasError('required') && bankName.touched"
          style="font-size: 13px"
        >
          This field is required
        </mat-error>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="currency ">
        {{ "m4_child1.currency" | translate }}
      </label>
      <div class="col-md-9">
        <mat-form-field style="width: 100%; height: 38px" appearance="outline">
          <mat-select
            [(ngModel)]="data.currencyId"
            required
            #currency="ngModel"
            name="currency"
            placeholder="Choose currency"
          >
            <mat-option hidden="true" [value]="null">none</mat-option>
            <mat-option
              *ngFor="let data of currencies"
              [value]="data.value"
            >
              {{ data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error
          class="mt-1"
          *ngIf="currency.hasError('required') && currency.touched"
          style="font-size: 13px"
        >
          This field is required
        </mat-error>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="account ">
        {{ "m4_child1.account" | translate }}
      </label>
      <div class="col-md-9">
        <mat-form-field style="width: 100%; height: 38px" appearance="outline">
          <mat-select
            placeholder="Choose account"
            [(ngModel)]="data.accountId"
            required
            #account="ngModel"
            name="account"
          >
            <mat-form-field class="w-100 px-3"
            style="
              position: sticky;
              top: 0;
              z-index: 2;
              background-color: white;
            ">
              <input
                placeholder="{{ 'm4_child1.choose an account' | translate }}"
                matInput
                type="text"
                (keydown)="$event.stopPropagation()"
                [(ngModel)]="searchValue3"
                name="search"
              />
            </mat-form-field>
            <mat-option hidden="true" [value]="null">none</mat-option>
            <mat-option
              *ngFor="let data of accounts | filter : searchValue3"
              [value]="data.value"
            >
              {{ data.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error
          class="mt-1"
          *ngIf="account.hasError('required') && account.touched"
          style="font-size: 13px"
        >
          This field is required
        </mat-error>
      </div>
    </div>
    <!-- <div class="form-group row required ">
            <label class="col-md-3 col-form-label " for="amount ">
                {{ 'm4_child1.amount' | translate }}
            </label>
            <div class="col-md-9 ">
                <input type="text" mask="separator':''" thousandSeparator=","  allowNegativeNumbers="true"
                    class="form-control " [(ngModel)]="data.amount" name="amount " id="amount " maxlength="128 "
                    required #requestAmount="ngModel" #requestAmountEl />
                <abp-validation-summary [control]="requestAmount" [controlEl]="requestAmountEl">
                </abp-validation-summary>
            </div>
        </div> -->
    <div class="form-group row required" *ngIf="!isEdit">
      <label class="col-md-3 col-form-label" for="amount "> BaseBalance </label>
      <div class="col-md-9">
        <input
          type="text"
          [readOnly]="this.isEdit"
          thousandSeparator=","
          allowNegativeNumbers="true"
          class="form-control"
          [(ngModel)]="data.baseBalance"
          name="baseBalence "
          id="amount "
          maxlength="128 "
          required
          #requestbaseBalance="ngModel"
          #requestbaseBalanceEl
        />
        <abp-validation-summary
          [control]="requestbaseBalance"
          [controlEl]="requestbaseBalanceEl"
        >
        </abp-validation-summary>
      </div>
    </div>
  </div>
  <div
    _ngcontent-c13=" "
    align="end "
    class="mat-dialog-actions"
    mat-dialog-actions=" "
  >
    <button
      class="btn btn-default cancel-banks"
      mat-raised-button
      mat-dialog-close
    >
      {{ "action.cancel" | translate }}
    </button>
    <button
      class="saving-btn btn btn-primary ml-2"
      type="submit"
      [disabled]="!createBankAccountForm.valid || isDisabled"
      (click)="save()"
      cdkFocusInitial
    >
      {{ "action.save" | translate }}
    </button>
  </div>
</form>
