<div id="revenue">
  <section class="content-header">
    <div class="container-fluid">
      <div class="header d-flex justify-content-between align-items-center">
        <div class="breadcrumb">
            <app-bread-crumb [listBreadCrumb]="listBreadCrumb"></app-bread-crumb>
        </div>
        <div class="col-6 text-right">
          <a
            *ngIf="isShowCreateBtn()"
            href="javascript:;"
            class="btn bg-blue"
            (click)="createRevenues()"
          >
            <i class="fa fa-plus-square"></i>
            {{ "action.create" | translate }}
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2 filter-incomingentry-type">
    <div class="container-fluid">
      <div class="card">
        <div class="card-body table-responsive p-4">
          <div class="row mb-4">
            <div class="col-7">
              <div class="search-bar" style="position: relative">
                <div class="input-group-prepend">
                  <button
                    type="button"
                    class="btn bg-blue"
                    style="border-radius: 3px 0 0 3px"
                    (click)="getAllData()"
                  >
                    <i class="fas fa-search"></i>
                  </button>
                  <input
                    type="text"
                    (keyup.enter)="getAllData()"
                    matInput
                    placeholder="{{ 'action.search' | translate }}"
                    #txtVal
                    class="form-control"
                    [(ngModel)]="inputFilter.searchText"
                    style="
                      width: 100%;
                      padding-left: 10px;
                      border: 1px solid lightgrey !important;
                      line-height: 30px;
                      border-radius: 0 4px 4px 0 !important;
                      margin-top: 0;
                    "
                  />
                </div>
              </div>
            </div>
            <div class="col-3">
              <mat-form-field class="w-100" appearance="outline">
                <mat-select
                  name="type"
                  [(ngModel)]="inputFilter.revenueExpenseType"
                  placeholder="Select type"
                  (selectionChange)="getAllData()"
                >
                  <mat-option [value]="0">Tất cả</mat-option>
                  <mat-option [value]="1"
                    >Tính vào doanh thu </mat-option
                  >
                  <mat-option [value]="2">
                    Không tính vào doanh thu</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select
                  name="type"
                  [(ngModel)]="inputFilter.status"
                  placeholder="Select status"
                  (selectionChange)="getAllData()"
                >
                  <mat-option [value]="0">All</mat-option>
                  <mat-option [value]="1">Active</mat-option>
                  <mat-option [value]="2">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-accordion>
            <ng-container *ngFor="let item of data.children">
              <app-revenue-list [items]="item"></app-revenue-list>
            </ng-container>
          </mat-accordion>
        </div>
      </div>
    </div>
  </section>
</div>
