<form class="form-horizontal" autocomplete="off" #bankForm="ngForm">

    <abp-modal-header [title]=" !isEdit?('m3_child2.createTitle' | translate):('m3_child2.editTitle' | translate) " (onCloseClick)="dialogRef.close()">
    </abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="tenancyName">
                {{ 'm3_child1.name' | translate }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="tenancyName" id="tenancyName" minlength="2" maxlength="64"
                    required [(ngModel)]="bank.name" #tenancyNameModel="ngModel" #tenancyNameEl />
                <abp-validation-summary [control]="tenancyNameModel" [controlEl]="tenancyNameEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="code">
                {{ 'm3_child1.code' | translate }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="code" id="code" minlength="2" maxlength="64" required
                    [(ngModel)]="bank.code" #codeModel="ngModel" #codeEl />
                <abp-validation-summary [control]="codeModel" [controlEl]="codeEl"></abp-validation-summary>
            </div>
        </div>
    </div>
    <div align="end" class="mat-dialog-actions" mat-dialog-actions="">
        <button class="btn btn-default cancel-banks" mat-raised-button mat-dialog-close>Cancel</button>
        <button class="saving-btn btn btn-primary ml-2"
           [disabled]="!bankForm.form.valid || isDisable" (click)="saveAndClose()">Save</button>
    </div>
</form>
