.hyperlink:hover {
    cursor: pointer;
    text-decoration: underline !important;
  }
  .hyperlink {
    color: #007bff;
  }


::ng-deep #invoice .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0px !important;
}

::ng-deep #invoice .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
}