.mat-expansion-panel {
    color: white;
    box-shadow: none;
  }
  .mat-expansion-panel-header {
    max-height: 48px;

    background-color: #5f656b;
  }

  .mat-expansion-panel-header:visited,
  .mat-expansion-panel-header {
    background-color: #5f656b !important;
    margin-bottom: 10px;
    max-height: 48px;
  }
  .mat-expanded .mat-expansion-panel-header {
    max-height: 48px;
  }
  * {
    box-sizing: border-box;
  }
  .mat-expansion-panel-spacing,
  .mat-expanded {
    border: 1px solid #5f656b;
    border-collapse: collapse;
    border-radius: 0 !important;
  }

  .final {
    border: none !important;
  }
  .reveCount::before {
    content: " - ";
  }

  button{
    border:none;
    background: none;
    outline: none;
  }
  .mat-icon{
    color: white;
  }
