.align{
    text-align: center;
    vertical-align: middle;
}
::ng-deep #auditlog .mat-form-field-infix{
    padding-top:  6px !important;
    padding-bottom: 10px;
    border-top: 8px solid transparent;
}
::ng-deep #auditlog .mat-form-field-flex{
    margin-top: -8px !important;
}
::ng-deep #search .mat-form-field-appearance-outline{
    padding: 0;
}
::ng-deep #search .mat-form-field-infix{
    padding: 10px;
}
::ng-deep #search1 .mat-form-field-appearance-outline{
    margin-bottom: 0;
}
::ng-deep #search1 .mat-form-field-wrapper{
    margin-bottom: 0;
}
.review-parameters{
    padding: 10px 10px 0px 10px;
    width: 100%;
    min-width: 250px;
    border: none;
    cursor: pointer;
    resize: none;
    background-color: transparent;
    text-overflow: ellipsis;
    line-height: 25px;
    word-wrap: break-word;
}

.preReview-parameters{
    padding: 10px;
    width: 100%;
    min-width: 250px;
    border: none;
    resize: none;
    cursor: pointer;
    overflow-y: auto;
    background-color: transparent;
    text-overflow: ellipsis;
    line-height: 25px;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    height: 82px;
    -webkit-box-orient: vertical;
}

.review-parameters::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.review-parameters::-webkit-scrollbar-thumb
{
	background-color: #cecece;
	border: 2px solid #cecece;
}

.preReview-parameters::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.preReview-parameters::-webkit-scrollbar-thumb
{
	background-color: #cecece;
	border: 2px solid #cecece;
}
