<div class="card-header move-cursor" cdkDrag cdkDragRootElement=".modal-content, .cdk-overlay-pane" cdkDragHandle>
    <div class="d-flex justify-content-between">
        <div class="col-7 p-0">
            <span *ngIf="!data.circleChartDetail" style="font-size: 30px;">
                <ng-container *ngIf="data.isDoanhThu === null">
                    Tổng thu
                </ng-container>
                <ng-container *ngIf="data.isDoanhThu === true">
                    Thu thực
                </ng-container>
                <ng-container *ngIf="data.isDoanhThu === false">
                    Thu không Thực
                </ng-container>
            </span>
            <span *ngIf="data.circleChartDetail" style="font-size: 30px;">
                <ng-container>
                    {{this.circleChart}}
                    <i class="fas fa-chevron-right"></i>
                    {{this.circleChartDetail.name}}
                </ng-container>
            </span>
            <div class="d-inline" style="font-size: 20px;">
                <span class="badge bg-primary ml-2">{{startDate | dmyDateFormat}} - {{endDate | dmyDateFormat}}</span>
                <span *ngIf="!data.circleChartDetail" class="badge bg-primary ml-2">{{this.data.tinhVaoDoanhThu ? 'Tính vào doanh thu' : ''}}</span>
                <button *ngIf="data.circleChartDetail" 
                class="viewBtn btn btn-outline-secondary btn-sm ml-2" 
                (click)="onViewDetail(circleChartDetail.circleChartDetailInfo)">
                    <mat-icon style="font-size: 20px; vertical-align: middle; height: fit-content;">settings</mat-icon>
                </button>  
            </div>
        </div>

        <i class="fas fa-times pointer" (click)="onClose()"></i>
    </div>
</div>
<div class="card-body" id="baocaothu">
    <div class="total"><strong>Tổng: {{total |formatMoney}}</strong></div>
    <div class="table-responsive mt-3">
    <div class="fixTableHead">
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Stt</th>
                    <th class="align" (click)="sortData('id')" style="cursor: pointer;">
                        {{ "ID" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'id'"></i>
                        <i *ngIf="sortColumn !== 'id'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('name')" style="cursor: pointer;">
                        {{ "Tên ghi nhận thu" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'name'"></i>
                        <i *ngIf="sortColumn !== 'name'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('clientName')" style="cursor: pointer;">
                        {{ "Khách hàng" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'clientName'"></i>
                        <i *ngIf="sortColumn !== 'clientName'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('monthYear')" style="cursor: pointer;">
                        {{ "Tháng invoice" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'monthYear'"></i>
                        <i *ngIf="sortColumn !== 'monthYear'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('transactionDate')" style="cursor: pointer;">
                        {{ "Ngày tháng BĐSD" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'transactionDate'"></i>
                        <i *ngIf="sortColumn !== 'transactionDate'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('value')" style="cursor: pointer;">
                        {{ "Số tiền" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'value'"></i>
                        <i *ngIf="sortColumn !== 'value'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('currencyName')" style="cursor: pointer;">
                        {{ "Loại tiền" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'currencyName'"></i>
                        <i *ngIf="sortColumn !== 'currencyName'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('exchangeRate')" style="cursor: pointer;">
                        {{ "Tỉ giá" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'exchangeRate'"></i>
                        <i *ngIf="sortColumn !== 'exchangeRate'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('totalVND')" style="cursor: pointer;">
                        {{ "Thành tiền" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'totalVND'"></i>
                        <i *ngIf="sortColumn !== 'totalVND'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('incomingEntryType')" style="cursor: pointer;">
                        {{ "Loại thu" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'incomingEntryType'"></i>
                        <i *ngIf="sortColumn !== 'incomingEntryType'" class="fas fa-sort"></i>
                    </th>
                    <th class="align" (click)="sortData('tinhDoanhThu')" style="cursor: pointer;">
                        {{ "Tính vào doanh thu" | localize }}
                        <i [ngClass]="iconSort" *ngIf="sortColumn === 'tinhDoanhThu'"></i>
                        <i *ngIf="sortColumn !== 'tinhDoanhThu'" class="fas fa-sort"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let detail of sortedBaoCaoThu  | paginate: { itemsPerPage: itemPerPage, currentPage: currentPage }; let i = index">
                    <td>{{ (currentPage - 1) * itemPerPage + i + 1 }}</td>
                    <td class="text-center">{{detail.id}}</td>
                    <td>{{detail.name}}</td>
                    <td>{{detail.clientName}}</td>
                    <td class="text-center">{{detail.monthYear}}</td>
                    <td class="text-center">{{detail.transactionDate | dmyDateFormat}}</td>
                    <td class="text-right">{{detail.valueFormat }}</td>
                    <td class="text-center">{{detail.currencyName}}</td>
                    <td class="text-right">{{detail.exchangeRateFormat}}</td>
                    <td class="text-right">{{detail.totalVNDFormat }}</td>
                    <td>{{detail.incomingEntryType}}</td>
                    <td class="text-center">{{detail.tinhDoanhThu}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mt-2">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>
</div>
