button {
    height: fit-content;
    display: inline-block;
  }
.hyperlink:hover {
    cursor: pointer;
    text-decoration: underline !important;
}
.hyperlink {
    color: #007bff;
}
/* .breadcrumb {
    font-size: 20px;
    display: inline-block;
    background-color: unset !important;
    margin-bottom: 0px;
    padding: 0px;
} */
.stt {
    width: 50px;
}

.header{
    margin-bottom: 5px;
}