button {
    height: fit-content;
    display: inline-block;
  }
.hyperlink:hover {
    cursor: pointer;
    text-decoration: underline !important;
}
.hyperlink {
    color: #007bff;
}
.stt {
    width: 50px;
}
