<div style="margin-bottom: 10px">
  <mat-accordion>
    <mat-expansion-panel
      #expanPanel
      hideToggle
      [ngClass]="items.children.length == 0 ? 'final' : ''"
      [ngClass]="items.parentId != 'null' ? 'parent' : ''"
    >
      <mat-expansion-panel-header>
        <div class="row w-100">
          <div class="col-9">
            <mat-icon
              *ngIf="items.children.length"
              style="margin-right: 25px; color: #fed55f"
              >{{
                expanPanel.expanded == true ? "drive_file_move" : "folder"
              }}</mat-icon
            >
            <mat-icon
              *ngIf="!items.children.length"
              style="margin-right: 25px"
              >{{
                expanPanel.expanded == true
                  ? "description"
                  : "insert_drive_file"
              }}</mat-icon
            >

            <span class="text-uppercase font-weight-bold">
              {{ items.name }}&nbsp;
            </span>
            <span style="margin-right: 3px"> ({{ items.code }}) </span>
            <span
              [ngClass]="items.isActive ? 'badge badge-primary' : 'badge badge-secondary'"
              style="margin-right: 3px"
            >
              {{ items.isActive ? "Active" : "Inactive" }}</span
            >
            <i
              class="far fa-check-circle fa-lg ml-2"
              *ngIf="items.revenueCounted"
              style="color: #4aff34"
              [matTooltip]="'Tính vào doanh thu'"
            ></i>
            <i
              class="far fa-check-circle fa-lg ml-2"
              *ngIf="!items.revenueCounted"
              style="color: #cdcccc"
              [matTooltip]="'Không tính vào doanh thu'"
            ></i>
          </div>
          <div class="col-3 child">
            <button
              *ngIf="isShowCreateBtn"
              (click)="create(items); $event.stopPropagation()"
              style="position: absolute; right: 90px; background-color: #5f656b"
            >
              <mat-icon style="float: right"> add_box </mat-icon>
            </button>
            <button
              *ngIf="isShowEditBtn()"
              (click)="edit(items); $event.stopPropagation()"
              style="position: absolute; right: 50px; background-color: #5f656b"
            >
              <mat-icon style="float: right"> edit </mat-icon>
            </button>
            <button
              *ngIf="isShowDeleteBtn()"
              (click)="delete(items); $event.stopPropagation()"
              style="position: absolute; right: 10px"
            >
              <mat-icon style="margin-bottom: 12px">delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-expansion-panel-header>
      <ng-container *ngIf="items.children.length > 0">
        <app-revenue-list
          *ngFor="let item of items.children"
          [items]="item"
        ></app-revenue-list>
      </ng-container>
      <ng-container *ngIf="items.children.length == 0">
        <div
          *ngIf="items.id != null"
          style="background-color: white; color: black"
        >
          <p>
            <strong>{{ "m3_child5.code" | translate }}:</strong>
            {{ items.code }}
          </p>
          <p>
            <strong>{{ "m3_child5.name" | translate }}:</strong>
            {{ items.name }}
          </p>
          <p>
            <strong>{{ "m3_child5.count" | translate }}: </strong>
            <span *ngIf="items.revenueCounted == true">{{
              "m3_child5.yesConfirm" | translate
            }}</span>
            <span *ngIf="items.revenueCounted == false">{{
              "m3_child5.noConfirm" | translate
            }}</span>
          </p>
          <p>
            <strong>Trạng thái: </strong>
            <span style="margin-right: 3px" [ngClass]="items.isActive ? 'badge badge-primary' : 'badge badge-secondary'"> {{ items.isActive ? 'Active' : 'Inactive' }}</span>
          </p>
          <mat-checkbox
            color="primary"
            [(ngModel)]="items.isClientPaid"
            name="isClientPaid"
            #isClientPaid="ngModel"
            (change)="update(items, true, 'Khách hàng trả nợ')"
            [disable]="isDisable"
            >Là khách hàng trả nợ</mat-checkbox
          >
          <br>
          <mat-checkbox
            color="primary"
            [(ngModel)]="items.isClientPrePaid"
            name="isClientPaid"
            #isClientPrePaid="ngModel"
            (change)="update(items,false, 'Khách hàng trả trước')"
            [disable]="isDisable"
            >Là khách hàng trả trước</mat-checkbox
          >
        </div>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
