<form
  class="form-horizontal"
  autocomplete="off"
  #createTransactionForm="ngForm"
  id="create-edit-request"
>
  <abp-modal-header
    title=" {{
      data.command == 'create'
        ? ('m5_child2.create' | translate)
        : ('m5_child2.edit' | translate)
    }}"
    (onCloseClick)="dialogRef.close()"
  >
  </abp-modal-header>

  <div class="modal-body">
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="connectionString">
        {{ "m5_child2.name" | translate }}:
      </label>
      <div class="col-md-9">
        <input
          type="text"
          class="form-control"
          name="outcomeName"
          maxlength="1024"
          minlength="2"
          [disabled]="outcomeRequest.workflowStatusCode != 'START' && isEditing"
          [(ngModel)]="outcomeRequest.name"
          required
          #requestName="ngModel"
          #requestNameEl
        />
        <abp-validation-summary
          [control]="requestName"
          [controlEl]="requestNameEl"
        ></abp-validation-summary>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "m5_child2.type" | translate }}:
      </label>

      <div class="col-md-9">
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            [(ngModel)]="outcomeRequest.outcomingEntryTypeId"
            name="fromBankAccount"
            [disabled]="
              outcomeRequest.workflowStatusCode != 'START' && isEditing
            "
            placeholder="select outcome type"
            required
            #outcomeType="ngModel"
          >
            <mat-form-field
              class="w-100 px-3"
              style="
                position: sticky;
                top: 0;
                z-index: 2;
                background-color: white;
              "
            >
              <input
                matInput
                [(ngModel)]="searchOutcome"
                name="searchOutcome"
                placeholder="search"
                (keydown)="$event.stopPropagation()"
              />
            </mat-form-field>
            <mat-option hidden="true" [value]="null">none</mat-option>
            <mat-option
              *ngFor="let item of finalOutcomeTypeList | filter : searchOutcome"
              [disabled]="item.children.length > 0"
              [value]="item.id"
            >
              <span [innerHtml]="item.paddingLevel"></span
              ><span [ngClass]="item.children.length > 0 ? 'parent' : ''">
                {{ item.name }}
              </span>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-error
          *ngIf="outcomeType.hasError('required') && outcomeType.touched"
          style="font-size: 13px"
        >
          This field is required
        </mat-error>
      </div>
    </div>

    <div class="form-group row">
      <div class="col">
        <app-selection-customs
          class="w-100"
          label="Công ty"
          labelClass="col-md-3 col-form-label"
          selectionClass="col-md-9"
          [input]="allAccountList"
          [value]="outcomeRequest.accountId"
          [required]="true"
          [lableDirection]="LableDirectionLeft"
          placeholder="Chọn công ty"
          placeholderSearchText="Search công ty"
          (ngModelChange)="outcomeRequest.accountId = $event"
        >
        </app-selection-customs>
      </div>
    </div>
    <div class="form-group row required" *ngIf="isEnableMultiCurrency">
      <label class="col-md-3 col-form-label">Tiền tệ</label>
      <div class="col-md-9">
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            [(ngModel)]="outcomeRequest.currencyId"
            name="currencyId"
            required
          >
            <ng-container *ngFor="let item of listCurrency">
              <mat-option [value]="item.value">
                {{ item.name }}
              </mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label">Số tiền</label>
      <div class="col-md-9">
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            type="text"
            [(ngModel)]="outcomeRequest.value"
            name="amount"
            [allowNegativeNumbers]="false"
            mask="separator"
            thousandSeparator=","
            min="0"
            required
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row required">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "m5_child2.branch" | translate }}:
      </label>

      <div class="col-md-7">
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            [(ngModel)]="outcomeRequest.branchId"
            name="branchSelect"
            placeholder="select branch"
            [disabled]="
              outcomeRequest.workflowStatusCode != 'START' && isEditing
            "
            #branch="ngModel"
            required
          >
            <mat-form-field
              class="w-100 px-3"
              style="
                position: sticky;
                top: 0;
                z-index: 2;
                background-color: white;
              "
            >
              <input
                matInput
                [(ngModel)]="searchBranch"
                name="searchOutcome"
                placeholder="search"
                (keydown)="$event.stopPropagation()"
              />
            </mat-form-field>
            <mat-option hidden="true" [value]="null">none</mat-option>
            <ng-container
              *ngFor="let branch of branchList | filter : searchBranch"
            >
              <mat-option [value]="branch.id">{{ branch.name }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="branch.hasError('required') && branch.touched" class="mt-3 mr-3">This field is required</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-icon
          style="margin-top: 10px; cursor: pointer"
          *ngIf="
            outcomeRequest.branchId != null &&
            ((outcomeRequest.workflowStatusCode == 'START' && isEditing) ||
              !isEditing)
          "
          (click)="outcomeRequest.branchId = null"
          >clear</mat-icon
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="tenancyName">
        {{ "m5_child2.supplierTitle" | translate }}:
      </label>
      <div class="col-md-7">
        <mat-form-field class="w-100" appearance="outline">
          <mat-select
            [(ngModel)]="outcomeRequest.supplierId"
            name="supplierSelect"
            [disabled]="
              outcomeRequest.workflowStatusCode != 'START' && isEditing
            "
            placeholder="select supplier"
            #supplier="ngModel"
          >
            <mat-form-field
              class="w-100 px-3"
              style="
                position: sticky;
                top: 0;
                z-index: 2;
                background-color: white;
              "
            >
              <input
                matInput
                [(ngModel)]="searchSupplier"
                name="searchSupplier"
                placeholder="search"
                (keydown)="$event.stopPropagation()"
              />
            </mat-form-field>
            <mat-option hidden="true" [value]="null">none</mat-option>
            <ng-container
              *ngFor="let supplier of supplierList | filter : searchSupplier"
            >
              <mat-option [value]="supplier.id">{{ supplier.name }}</mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-1">
        <mat-icon
          style="margin-top: 10px; cursor: pointer"
          *ngIf="
            outcomeRequest.supplierId != null &&
            ((outcomeRequest.workflowStatusCode == 'START' && isEditing) ||
              !isEditing)
          "
          (click)="outcomeRequest.supplierId = null"
          >clear</mat-icon
        >
      </div>
      <div class="col-md-1 mt-1">
        <button
          *ngIf="
            (outcomeRequest.workflowStatusCode == 'START' && isEditing) ||
            !isEditing
          "
          type="button"
          style="border: none"
          (click)="createSupplier()"
          class="bg-blue mt-2"
        >
          <i class="fa fa-plus-square"></i>
        </button>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-3 col-form-label" for="tenancyName">
        Uỷ nhiệm chi:
      </label>
      <div class="col-md-7">
        <section class="example-section mt-2">
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="outcomeRequest.accreditation"
            name="accreditation"
            (change)="setAccreditation($event)"
          ></mat-checkbox>
        </section>
      </div>
    </div>
    <div class="form-group row d-flex justify-content-between mt-2">
      <button class="btn btn-default mx-2" mat-dialog-close>
        {{ "action.cancel" | translate }}
      </button>
      <button
        class="btn btn-primary"
        [disabled]="!createTransactionForm.valid || isDisable"
        (click)="checkWarning()"
      >
        {{ "action.save" | translate }}
      </button>
    </div>
  </div>
</form>
