<div class="wrapper px-4 py-2">
    <div class="header d-flex justify-content-between">
        <h5>Line Chart</h5>
        <button  class="btn btn-primary" *ngIf="isShowCreateBtn()"
            (click)="onCreate()">
            <i class="fa fa-plus-square mr-1"></i>
            Thêm mới</button>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped" [busy]="isTableLoading">
                    <thead>
                        <tr>
                            <th class="text-center stt">#</th>
                            <th class="text-center">Tên</th>
                            <th class="text-center" style="width: 120px;">Loại</th>
                            <th class="text-center" style="width: 120px;">Màu</th>
                            <th class="text-center" style="width: 250px;">Danh sách liên kết</th>
                            <th class="text-center isAvtive" style="width: 120px;">Active</th>
                            <th class="text-center" style="width: 100px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of lineChartSetting; let i = index">
                            <td class="text-center">{{i+1}}</td>
                            <td>{{item.name}}</td>
                            <td class="text-center">{{item.lineChartSettingTypeName}}</td>
                            <td class="text-center"><span class="badge badge-pill"
                                    [ngStyle]="{'background': item.color}">{{item.color}}</span></td>
                            <td>
                                <div *ngFor="let referenece of item.listReference">
                                    <div><span class="badge bg-primary">{{referenece.name}}</span></div>
                                </div>
                            </td>
                            <td class="text-center"><i
                                    [ngClass]="item.isActive ? 'fas fa-check text-success': 'fas fa-times text-danger'"></i>
                            </td>
                            <td class="text-center">
                                <button *ngIf="isShowActionMenu()" mat-button [matMenuTriggerFor]="menu" ><i class="fas fa-bars fa-lg"></i></button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item (click)="onEdit(item)" *ngIf="isShowEditBtn()">
                                        <mat-icon>edit</mat-icon>
                                        Chỉnh sửa
                                    </button>
                                    <button mat-menu-item (click)="delete(item)" *ngIf="isShowDeleteBtn()">
                                        <mat-icon>delete</mat-icon>
                                        Xóa
                                    </button>
                                    <button *ngIf="item.isActive == false && isShowActiveDecativeActionBtns()"  mat-menu-item (click)="onActive(item)">
                                        <mat-icon>check</mat-icon>
                                        Active
                                    </button>
                                    <button *ngIf="item.isActive == true && isShowActiveDecativeActionBtns()" mat-menu-item (click)="onDeActive(item)">
                                        <mat-icon>close</mat-icon>
                                        DeActive
                                    </button>
                                </mat-menu>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
