::ng-deep #list-b-transaction-log .mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0px !important;
}

::ng-deep #list-b-transaction-log .mat-form-field-wrapper {
    padding: 0 !important;
    margin: 0 !important;
}


.fixed-table {
  table-layout: auto;
  width: 100%;
}

.col-key {
    max-width: 200px;
    white-space: break-spaces
}

.col-content {
    max-width: 400px;
    white-space: break-spaces
}