<div cdkDrag
cdkDragRootElement=".cdk-overlay-pane"
cdkDragHandle>
    <div class="row justify-content-between">
        <div class="col-8">
            <div class="d-flex align-items-center">
                <div class="title">
                    <span>{{title}}</span>
                </div>
                <div class="chart-type">
                    <span [ngClass]="isIncome ? 'badge badge-pill bg-primary' : 'badge badge-pill bg-danger'">
                    {{circleChartTypeName}}</span>
                </div>
            </div>
        </div>
        <div class="col-4 text-right">
            <i class="fas fa-times fa-lg pointer" mat-dialog-close></i>
        </div>
    </div>
    <div class="card-body" style="padding: 12px;">
        <form #createSettingForm="ngForm" *ngIf="isEdit"></form>
    </div>
</div>
<ng-template [ngIf]="isEdit">
    <form #createSettingForm="ngForm" id="setting-wrapper">
        <div>
            <div class="form-edit form-group required row">
                <label for="name" class="col-1 col-form-label">Tên:</label>
                    <mat-form-field appearance="outline" class="col-5">
                        <input name="name" type="text" matInput [(ngModel)]="chartDetail.name" required>
                    </mat-form-field>
                <label for="type" class="col-1 col-form-label">Chi nhánh:</label>
                <mat-form-field appearance="outline" class="col-2">
                    <mat-label>Branch</mat-label>
                    <mat-select name="branchId" [(ngModel)]="branchInfo.branchId" required>
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" [formControl]="branchSearch"
                            noEntriesFoundLabel= "No matching found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let branch of listBranch" [value]='branch.id'>
                            {{branch.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <label for="color" class="col-1 mt-2">Màu:</label>
                <input name="color" style="margin-top: 2px;" type="color" [(ngModel)]="chartDetail.color">
            </div>
            <div class="form-edit row form-group">
                <label *ngIf="isIncome" for="type" class="col-1 col-form-label">Khách hàng:</label>
                <app-multiple-select
                class="client-selection col-5"
                *ngIf="isIncome" 
                labelName="Client"
                name="listClient"
                [listOption]="clientOptions"
                [defaultValue]="listClientId"
                (onChange)="onChangeListClientIdSelected($event)"
                [disabled]="isLoading">
                </app-multiple-select>
            </div>
        </div>

        <div class="w-100">

            <div class="row" style="margin-top: 20px;">
                <div class="col-6 p-1">
                    <div class="d-flex align-items-center" style="height: 48px;">
                        <div class="col-10">
                            <h5 class="text-center text-bold m-0">Danh sách Loại {{ isIncome ? 'Thu' : 'Chi' }}</h5>
                        </div>
                        <div class="col-2">
                            <mat-form-field class="w-100 m-0 align-items-center" appearance="outline">
                                <mat-select
                                name="type"
                                [(ngModel)]="inputFilter.isActive"
                                placeholder="All"
                                (selectionChange)="onSelectType()">
                                <mat-option value="">All</mat-option>
                                <mat-option [value]="true">Active</mat-option>
                                <mat-option [value]="false">Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="list-reference py-3 pr-2 pl-1">
                        <mat-accordion [togglePosition]="'before'">
                            <ng-container *ngFor="let item of referenceList">
                                <app-selection-tree-circle-chart
                                [existList]="existReferenceIds" 
                                [chartDetail]="chartDetail"
                                [data]="item" 
                                (onSelectedItem)="onSelect($event)"
                                (onRemoveItem)="onRemove()" 
                                (existListChange)="onExistListChange($event)"></app-selection-tree-circle-chart>
                            </ng-container>
                        </mat-accordion>
                    </div>
                </div>
                <div class="col-6 p-1">
                    <div class="align-items-center" style="height: 48px; display: flex; justify-content: center; align-items: center;">
                        <h5 class="text-center text-bold">Selected</h5>
                    </div>
                    <div class="list-reference py-3 pr-2 pl-1">
                        <mat-accordion [togglePosition]="'before'">
                            <ng-container *ngFor="let item of selectedReferences">
                                <app-selection-tree-circle-chart
                                [existList]="existReferenceIds" 
                                [chartDetail]="chartDetail"
                                [selected]="true" 
                                [data]="item" 
                                (onSelectedItem)="onSelect()"
                                (onRemoveItem)="onRemove()"
                                (existListChange)="onExistListChange($event)"></app-selection-tree-circle-chart>
                            </ng-container>
                        </mat-accordion>
                    </div>
                </div>
            </div>

        </div>
        <div class="d-flex justify-content-end">
            <button class="btn btn-default mr-2" mat-dialog-close>Cancel</button>
            <button class="btn btn-primary" [disabled]="!createSettingForm.valid" (click)="onSave()">Save</button>
        </div>
    </form>
</ng-template>

<ng-template [ngIf]="!isEdit">
    <form #createSettingForm="ngForm" id="setting-wrapper">
        <div class="form-group required row">
            <label for="name" class="col-3 mt-3 col-form-label">Tên:</label>
            <div class="col-9 required">
                <mat-form-field appearance="outline" class="col-12">
                    <input name="name" type="text" matInput [(ngModel)]="chartDetail.name" required>
                </mat-form-field>
            </div>
        </div>

        <div class="form-group required row mt-3">
            <label for="type" class="col-3 mt-3 col-form-label">Chi nhánh:</label>
            <div class="col-9 required">
                <mat-form-field appearance="outline">
                    <mat-label>Branch</mat-label>

                    <mat-select name="branchId" [(ngModel)]="branchInfo.branchId" required>
                        <mat-option>
                            <ngx-mat-select-search placeholderLabel="Search" [formControl]="branchSearch"
                            noEntriesFoundLabel= "No matching found"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let branch of listBranch" [value]='branch.id'>
                            {{branch.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-3">
            <label for="color" class="col-3 mt-2">Màu:</label>
            <input name="color" style="margin-top: 7px; margin-left: 16px;" type="color" [(ngModel)]="chartDetail.color">
        </div>

        <div class="d-flex justify-content-end">
            <button class="btn btn-default mr-2" mat-dialog-close>Cancel</button>
            <button class="btn btn-primary" [disabled]="!createSettingForm.valid" (click)="onSave()">Save</button>
        </div>
    </form>
</ng-template>
