<span *ngFor="let item of listBreadCrumb; let last = last">
    <ng-container *ngIf="!last; else lastItemTemplate">
        <a *ngIf="item.url" [routerLink]="item.url" [queryParams]="item.queryParams" class="hyperlink" [innerHtml]="item.name"></a>
        <span *ngIf="!item.url" [innerHtml]="item.name"></span>
    </ng-container>
    <ng-template #lastItemTemplate>
        <a *ngIf="item.url" [routerLink]="item.url" [queryParams]="item.queryParams" class="hyperlink" [innerHtml]="item.name" (click)="onRefreshCurrentPage()"></a>
        <span *ngIf="!item.url" [innerHtml]="item.name"></span>
    </ng-template>
</span> 