<div id="work-flow">
    <section class="content-header">
        <div class="container-fluid">
            <div class="header d-flex justify-content-between align-items-center">
                <div class="breadcrumb">
                    <app-bread-crumb [listBreadCrumb]="listBreadCrumb"></app-bread-crumb>
                </div>
                <div class="col-6 text-right" *ngIf="permission.isGranted(Admin_Workflow_Create)" >
                    <a href="javascript:;"
                        class="btn bg-blue" (click)="createWorkFlow()">
                        <i class="fa fa-plus-square"></i>
                        {{ 'action.create' | translate }}
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="content px-2">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn bg-blue" (click)="getDataPage(1)">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <input type="text" class="form-control" name="keyword"
                            [placeholder]="'m3_child3.search' | translate" [(ngModel)]="searchText"
                            (keyup.enter)="getDataPage(1)" />
                    </div>
                </div>
                <div class="card-body table-responsive p-4">
                    <table style="border-collapse: collapse;" class="table table-hover text-nowrap"
                        [busy]="isTableLoading">
                        <thead class="bg-light">
                            <tr>
                                <th style="text-align: center;">{{ 'm2_child4.name' | translate }}</th>
                                <!-- <th style="text-align: center;">{{ 'm2_child4.outType' | translate }}</th> -->
                                <th 
                                    style="width: 200px;text-align: center;">{{ 'action.actions' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="
                                let data of workFlows  | paginate
                                : {
                                id: 'server',
                                itemsPerPage: pageSize,
                                currentPage: pageNumber,
                                totalItems: totalItems
                                }
                            ,let index = index" class="pointer">
                                    <td> 
                                        <div *ngIf="permission.isGranted(Admin_Workflow_ViewDetail);else workflowName" (click)="showDetail(data.id)" class="hyperlink" >{{ data.name }}</div>
                                        <ng-template #workflowName>{{ data.name }}</ng-template>
                                    </td>
                                    <!-- <td>{{ data.code }}</td> -->
                                    <td 
                                    class="d-flex justify-content-center border-0" style="padding: 12px;">
                                        <button  *ngIf="permission.isGranted(Admin_Workflow_Delete)"
                                            style="text-align: center;" type="button"
                                            class="btn btn-sm bg-danger ml-1" (click)="delete(data); $event.stopPropagation()">
                                            <i class="fas fa-trash"></i>
                                            {{ 'action.delete' | translate }}
                                        </button>
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer bg-light border-top">
                    <div class="row">
                      <div class="col-sm-4 col-12 text-sm-left text-center d-flex align-items-center just">
                        <button class="btn btn-secondary" (click)="refresh()">
                          <i class="fas fa-redo-alt"></i>
                        </button>
                        <mat-form-field style=" width: 20%; margin-left: 30px">
                          <mat-label>Number items</mat-label>
                          <mat-select [(ngModel)]="pageSizeType" (ngModelChange)="changePageSize()">
                            <mat-option [value]="5"> 5 </mat-option>
                            <mat-option [value]="10"> 10 </mat-option>
                            <mat-option [value]="20"> 20 </mat-option>
                            <mat-option [value]="50"> 50 </mat-option>
                            <mat-option [value]="100"> 100 </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-4 col-12 justify-content-center d-flex align-items-center">
                        <p class="mb-0 ">Total: {{ totalItems }}</p>
                      </div>
                      <div class="col-sm-4 col-12 d-flex align-items-center justify-content-end">
                        <div class="float-sm-right">
                          <abp-pagination-controls id="server" (pageChange)="getDataPage($event)">
                          </abp-pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </section>
</div>
