button {
    height: fit-content;
}
.breadcrumb {
    font-size: 20px;
    display: inline-block;
    background-color: unset !important;
    margin-bottom: 0px;
    padding: 0px;
}

.type-and-status span {
font-size: 14px;
margin-left: 10px;
position: relative;
}
.stt {
    width: 50px;
}
.header{
    margin-bottom: 5px;
}
