tr,th,td {
    border: .2px solid rgba(204,204,204,.35);
}
::ng-deep #general-tab .mat-tab-list .mat-tab-labels .mat-tab-label-active {
    font-weight: bold;
}
.read-mode{
    border: none !important;
}
/* :read-only{
    background: none;
} */
.detail :read-only{
    background: none;

}
::ng-deep #general-tab .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep #general-tab .mat-form-field-label-wrapper { top: -1.5em; 
}

::ng-deep #general-tab .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
::ng-deep #general-tab .mat-form-field-flex{
  background: white;
}
table{
    width: 100%;
}
.card-header {
    margin: 5px !important;
}
::ng-deep #general-tab .mat-form-field-label-wrapper .mat-form-field-label{
    font-weight: normal;
    font-size: 14px;
    margin-top: 12px;
}
.hyperlink {
    color: #007bff;
  }
  .START {
    color: blue;
  }
  .PENDINGIT {
    color: maroon;
  }
  .PENDINGCEO {
    color: orange;
  }
  .REJECT {
    color: red;
  }
  .APPROVED {
    color: green;
  }
  .END {
    color: gray;
  }
  img{
    max-width: 1500px;
  }

a:hover{
  color: #007bff;
}