.total{
    font-size: 18px;
}
.move-cursor{
    cursor: move;
}
::ng-deep #baocaochi .ngx-pagination{
    padding: 0;
    margin: 0;
}

.viewBtn{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    border-style: none;
}