<section class="content-header">
    <div class="container-fluid">
        <div class="header d-flex justify-content-between align-items-center">
            <div class="breadcrumb">
                <app-bread-crumb [listBreadCrumb]="listBreadCrumb" (refreshCurrentPage)="onRefreshCurrentPage()"></app-bread-crumb>
            </div>
        </div>
    </div>
</section>
<section class="content px-2" id="work-flow-detail">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body table-responsive p-4">
                <div class="row mb-4">
                    <div class="col-12">
                        <mat-tab-group>
                            <mat-tab label="{{ 'm2_child4.workFlowStatusMain' | translate }}">
                                <div class="">
                                    <div class="card-header">
                                        <h3 class="my-3">{{ 'm2_child4.workFlowStatusMainDetail' | translate }}</h3>
                                    </div>
                                    <div class="card-body">
                                        <p *ngIf="statuses" ><strong>{{ 'm2_child4.name' | translate }} : </strong>{{statuses.name}}</p>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab  label="{{ 'm2_child4.workFlowStatusTransition' | translate }}">
                                <section class="content-header">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6">
                                                <h1>{{ 'm2_child4.workFlowStatusTransition' | translate }}</h1>
                                            </div>
                                            <div class="col-6 text-right">
                                                <a *ngIf="isShowActionBtns()"
                                                href="javascript:;" class="btn bg-blue"
                                                    (click)="createWorkFlowTransition()">
                                                    <i class="fa fa-plus-square"></i>
                                                    {{ 'action.create' | translate }}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="content px-2" *ngIf="statuses">
                                    <div class="container-fluid">
                                        <div class="card">
                                            <div class="card-body table-responsive p-4">
                                                <table 
                                                style="border-collapse: collapse;"
                                                    class="table table-hover text-nowrap">
                                                    <thead class="bg-light">
                                                        <tr>
                                                            <th style="text-align: center;">{{
                                                                'm2_child4.workFlowStatusTransitionName' | translate }}
                                                            </th>
                                                            <th style="text-align: center;">{{
                                                                'm2_child4.workFlowStatusTransitionFrom' | translate }}
                                                            </th>
                                                            <th style="text-align: center;">{{
                                                                'm2_child4.workFlowStatusTransitionTo' | translate }}
                                                            </th>
                                                            <th style="text-align: center;">{{
                                                                'm2_child4.workFlowStatusTransitionRole' | translate }}
                                                            </th>
                                                            <th *ngIf="isShowActionBtns()" style="width: 200px;text-align: center;">{{
                                                                'action.actions' | translate }}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="
                                                        let data of statuses.transitions">
                                                            <td>{{ data.name}}</td>
                                                            <td>{{ data.fromStatusCode }}</td>
                                                            <td>{{ data.toStatusCode }}</td>
                                                            <td><span *ngFor="let item of data.roles;let i = index">
                                                                    <span *ngIf="item.roleName != null && i != 0">,
                                                                    </span>{{item.roleName}}
                                                                </span> </td>
                                                            <td *ngIf="isShowActionBtns()"
                                                            class="d-flex justify-content-center border-0"
                                                                style="padding: 12px;">
                                                                <button
                                                                style="text-align: center;" type="button"
                                                                    class="btn btn-sm bg-secondary mr-1"
                                                                    (click)="editWorkFlowTransition(data)">
                                                                    <i class="fas fa-pencil-alt"></i>
                                                                    {{ 'action.edit' | translate }}
                                                                </button>
                                                                <button
                                                                style="text-align: center;" type="button"
                                                                    class="btn btn-sm bg-danger ml-1"
                                                                    (click)="deleteTransition(data)">
                                                                    <i class="fas fa-trash"></i>
                                                                    {{ 'action.delete' | translate }}
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
